<div style="padding: 2rem;">
    <h4 class="text-white font-bold mb-2 text-xl">{{title}}</h4>
    <div class="flex " style="justify-content: space-between;">
            <app-movie-card [movie]="movieList[0]"></app-movie-card>
            <app-movie-card [movie]="movieList[1]"></app-movie-card>
            <app-movie-card [movie]="movieList[2]"></app-movie-card>
            <app-movie-card [movie]="movieList[3]"></app-movie-card>
            <app-movie-card [movie]="movieList[10]"></app-movie-card>
            <app-movie-card [movie]="movieList[4]"></app-movie-card>
            <app-movie-card [movie]="movieList[6]"></app-movie-card>
            <app-movie-card [movie]="movieList[7]"></app-movie-card>

    </div>
</div>