<div class="navbar">
    <div class="flex" style="justify-content: space-between;">
        <div class="flex">
            <div class="">
                <img src="/assets/images/netflix-logo.png" alt="" class="w-52">
            </div>
    
            <div class="" style="padding-top: 48px; cursor: pointer; margin-right: 2rem;">
                <h1 class="text-white font-bold text-xl hover:underline">Home </h1>
            </div>
            <div class="" style="padding-top: 48px; cursor: pointer; margin-right: 2rem;">
                <h1 class="text-white font-extralight text-xl hover:underline">Tv Shows </h1>
            </div>
            <div class="" style="padding-top: 48px; cursor: pointer; margin-right: 2rem;">
                <h1 class="text-white font-extralight text-xl hover:underline">Movies </h1>
            </div>
            <div class="" style="padding-top: 48px; cursor: pointer; margin-right: 2rem;">
                <h1 class="text-white font-extralight text-xl hover:underline">New & Popular </h1>
            </div>
            <div class="" style="padding-top: 48px; cursor: pointer; margin-right: 2rem;">
                <h1 class="text-white font-extralight text-xl hover:underline">Browse by language </h1>
            </div>
        </div>

        <div style="padding-top: 48px; padding-right: 10px;">
            <h1 class="text-white"><i class="fa-solid fa-circle-user"></i> {{userName?.split('@')[0]}}</h1>
        </div>
    </div>


</div>