.header{
    background-image: linear-gradient(to bottom, rgb(14 14 14), rgb(9 9 9 / 7%));
}

.login-container{
    display: flex;
    justify-content: center;
    .login-card{
        background-color: rgba(0, 0, 0, 0.8);
        padding: 35px;
        width: 400px;
        border-radius: 5px;
    }
}

.form-field{
margin-bottom: 16px;

.input{
    width: 100%;
    background-color: rgb(65, 63, 63);
    padding: 8px 10px;
    color: white;
}
}

